/* @import url(https://fonts.google.com/specimen/Karla); */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.wrapper {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {

}

.main__titulo {
    font-size: 16px;
    color: hsl(179, 62%, 43%);
}

.main__titulo__call {
    font-size: 16px;
    color: hsl(71, 73%, 54%);
}

.main__vantagem {
    font-size: 16px;
    color: hsl(218, 22%, 67%);
}

.corpo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.join {

}

.join__subscription {
    font-size: 16px;

}

.join__subscription__valor {

}

.join__subscription__save {
    font-size: 16px;
}

.join__subscription__botao {

}

.reason {

}

.reason__motivos {

}